.session-button {
  width: 250px;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  background-color: $light-blue;
  border: 1px $light-blue solid;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.edit-button {
  width: 100.594px;
  height: 25.455px;
  font-size: 14px;
  justify-content: center;
  color: $black;
  padding: 0 24px;
  border: 1px $light-gray solid;
  border-radius: 3px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 11px;
  margin-left: 20px;
}

.follow-button {
  width: 41.672px;
  height: 26px;
  padding: 0 8px;
  border: 1px $light-blue solid;
  background-color: $light-blue;
  border-radius: 3px;
  color: white;
}

.session-button:active,
.forgot:active,
.redirect > button:active {
  opacity: .7;
}

.header h1:hover,
.camera:hover,
.explore:hover,
.heart:hover,
.self:hover,
.profile-image:hover,
.gear:hover {
  cursor: pointer;
}
