.feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-body {
  width: 600px;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px $border-gray solid;
  border-radius: 3px;
  margin-top: 60px;
}

.feed .info-header {
  width: 100%;
  flex-direction: row;
  justify-content:  space-between;
  padding: 20px 0;
  border-radius: 3px;
  border-bottom: 1px $border-gray solid;
}

.feed .info-header img {
  margin-left: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.feed .info-header div p:first-of-type {
  font-family: sans-serif;
  font-weight: bold;
  color: #262626;
  opacity: .9;
}

.feed .info-header img:hover,
.feed .info-header div p:first-of-type:hover {
  cursor: pointer;
}

.feed .info-header > p {
  color: $dark-gray;
  margin-right: 18px;
}

.feed .image {
  width: 600px;
  border-radius: 3px;
  border-bottom: 1px $border-gray solid;
  background-color: $black;
}

.feed .info-body {
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.feed .info-body > p {
  width: 552px;
  margin: 20px 24px 10px 24px;
  font-weight: bold;
  font-family: sans-serif;
}

.feed .comments {
  width: 552px;
  max-height: 157.670px;
  margin: 0 24px 20px 24px;
}

.feed .interactions {
  width: 552px;
  height: 25px;
  border-top: 1px $border-gray solid;
  padding-top: 20px;
  margin-bottom: 20px;
  justify-content: space-between;
}

.feed .interactions div:first-child {
  margin-right: 20px;
}

.feed .interactions div:last-child {
  margin-left: -8px;
}

.feed .interactions input {
  width: 481px;
}

.white-dots {
  content: url(image-path("white-dots.png"))
}

.welcome {
  margin: 60px auto -40px auto;
  width: 540px;
  height: 127px;
  padding: 55px 30px;
  background-color: white;
  border: 1px $border-gray solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome div {
  content: url(image-path("welcome.png"));
  margin-bottom: 10px;
}

.welcome p:first-of-type {
  font-family: sans-serif;
  font-weight: bold;
}

.welcome p {
  margin-top: 15px;
  font-size: 18px;
}
