.header {
  width: 100%;
  height: 30.997px;
  background-color: white;
  padding: 26px 0;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px $border-gray solid;
}

.camera {
  width: 37px;
  height: 37px;
  content: url(image-path("camera.png"));
  margin-left: 136px;
  margin-top: -2.5px;
}

.vertical-bar {
  width: 2px;
  height: 40px;
  background-color: $light-gray;
  display:inline-block;
  margin: 0 10px;
  margin-top: -2.5px;
}

.header h1 {
  font-size: 37px;
  margin-top: -2.5px;
  color: transparent;
	text-shadow: 0 0 1px #363636;
  vertical-align: text-bottom;
  font-family: 'Billabong', sans-serif;
}

.search-bar {
  width: 230px;
  height: 16px;
  background-color: $background-white;
  border: $border-gray 1px solid;
  border-radius: 3px;
  padding: 7px;
  display: flex;
  align-items: center;
  display: relative
}

.magnifying-glass {
  width: 12px;
  height: 12px;
  content: url(image-path("magnifying-glass.png"));
  margin-right: 6px;
}

.search-bar input {
  width: 230px;
  height: 16px;
  color: $black;
  font-size: 16px;
}

.search-result {
  display: block;
  position: absolute;
  top: 78px;
  z-index: 1;
  width: 261px;
  max-height: 361px;
  border: 1px $border-gray solid;
  background-color: white;
  border-radius: 3px;
  overflow: auto;
}

.hidden {
  display: none;
}

.search-result-item {
  width: 100%;
  height: 67px;
  border-bottom: 1px $border-gray solid;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.search-result-item:hover {
  background-color: $menu-gray;
  cursor: pointer;
}

.search-result-item > div {
  width: 240px;
  flex-direction: row;
  justify-content: flex-start;
}

.search-result-item > div > div {
  flex-direction: column;
  align-items: flex-start;
}

.search-result-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px $border-gray solid;
}

.search-result-item p:first-child {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  opacity: .85;
}

.search-result-item p:last-child {
  font-family: sans-serif;
  font-size: 14px;
}

.triangle {
    width: 0;
    height: 0;
    top: 64px;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid $border-gray;
    position:absolute;
}
.triangle:after{
    content:'';
    position:absolute;
    z-index: 2;
    top:1px;
    left:-14px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 14px solid white;
}

.header > div:last-child {
  align-items: center;
}

.discover {
  width: 26px;
  height: 26px;
  content: url(image-path("discover.png"));
  margin-right: 30px;
}

.heart {
  width: 26px;
  height: 26px;
  content: url(image-path("heart.png"));
  margin-right: 30px;
}

.heart-black {
  width: 26px;
  height: 26px;
  content: url(image-path("heart-black.png"));
  margin-right: 30px;
}

.self {
  width: 26px;
  height: 26px;
  content: url(image-path("self.png"));
  margin-right: 130px;
}
