.menu {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.feed-item-menu {
  width: 510px;
}

.menu-options li {
  width: 100%;
  height: 50.91px;
  text-align: center;
  background-color: white;
  border-bottom: 1px $light-gray solid;
}

.menu-options li:hover {
  background: #eeeeee;
}

.menu-options li:last-child {
  border-bottom: none;
}

.menu-options button {
  width: 100%;
  height: 100%;
}

.menu > ul > li > div {
  font-weight: bold;
  color: $dark-gray;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu >ul > li > div:hover {
  background: white;
}

.ReactModal__Overlay {
  background-color: $modal-gray !important;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}
