.user-body {
  margin: 0 auto;
  width: 935px;
  display: flex;
  flex-direction: column;
}

.user-info {
  margin-top: 60px;
  flex-direction: row;
  justify-content: flex-start;
}

.info {
  flex-direction: column;
  width: 613px;
}

.info > div:first-child {
  align-items: center;
}

.info .follow-button {
  width: 44.585px;
  height: 26px;
  padding: 0 25px;
  border: 1px $light-blue solid;
  margin-left: 10px;
  margin-top: 7px;
  vertical-align: center;
  line-height: 20px;
}

.info .following-button {
  width: 65.807px;
  height: 25.455px;
  padding: 0 24px;
  border: 1px $dark-gray solid;
  border-radius: 3px;
  font-weight: bold;
  margin-top: 5px;
  margin-left: 10px;
  vertical-align: center;
  line-height: 20px;
}

.info > div:nth-child(2) {
  margin-top: 10px;
  font-size: 16px;
  justify-content: flex-start;
}

.info > div:nth-child(2) > div {
  margin-left: 10px;
}

.info > div:last-child {
  margin-top: 10px;
  text-align: left;
  display: inline;
}

.profile-image {
  width: 151px;
  height: 151px;
  border-radius: 50%;
  margin: 0 80px 0 50px;
}

.me:hover {
  cursor: pointer;
}

.username {
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  color: $black;
}

.gear {
  width: 24px;
  height: 24px;
  content: url(image_path("gear.png"));
  margin-top: 13px;
  margin-left: 10px;
  margin-bottom: 2px;
}

.user-stats {
  font-weight: bold;
}

.user-stats p:not(:first-child) {
  margin-left: 30px;
}

.full_name {
  font-size: 16px;
  font-weight: bold;
  display: inline;
}

.bio {
  display: inline;
  margin-left: 10px;
}

.user-show-images {
  width: 100%;
  flex-direction: column;
  margin-top: 40px;
}

.user-show-images > li {
  width: 100%;
}

.user-show-image-row {
  width: 100%;
  flex-direction: row;
  margin-bottom: 28px;
  justify-content: flex-start;
}

.user-show-image {
  width: 293px;
  height: 293px;
  margin-left: 28px;
  position: relative;
}

.user-show-image:hover > .overlay {
  width: 100%;
  height: 100%;
  background-color:$modal-gray;
  position: absolute;
  cursor: pointer;
}

.user-show-image-row > li:first-child {
  margin-left: 0px;
}

.placeholder {
  margin-top: 40px;
}

.placeholder-image {
  content: url(image-path("placeholder.jpg"));
  width: 380px;
  height: 380px;
}

.placeholder-message {
  flex-direction: column;
  width: 555px;
  height: 380px;
  align-items: center;
  justify-content: center;
}

.placeholder-message p:first-child {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.placeholder-message p:last-of-type {
  font-family: sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}

.placeholder-message > div > div:first-child {
  margin-right: 10px;
}
