.session-button {
  width: 251px;
  padding: 5px 10px;
  color: white;
  border-radius: 3px;
  background-color: $light-blue;
  justify-content: center;
  font-family: sans-serif;
  font-weight: 400;
  margin-top: 5px;
}

.session-button:active,
.forgot:active,
.redirect > button:active {
  opacity: .7;
}
