.form {
  flex-direction: column;
}

.form input {
  color: $black;
  width: 250.364px;
  height: 17.253;
  margin: 0.92px;
  padding: 9px 8px 7px;
  font-weight: 100;
  border: $light-gray 2px solid;
  border-radius: 3px;
  margin-bottom: 3px;
}

.form input:focus {
  border-color: $dark-gray;
}

.login-form {
  position: relative;
}

.forgot {
  position: absolute;
  color: $dark-blue;
  right: 15px;
  top: 53px;
}
