$background-white: #fafafa;
$light-blue: rgb(56,151,240);
$dark-blue: rgb(0,53,105);
$light-gray: #c7c7c7;
$extra-light-gray: #E5E5E5;
$dark-gray: #999;
$black: #262626;
$modal-gray: rgba(0,0,0,.5);
$menu-gray: #eeeeee;
$border-gray: rgb(230, 230, 230);
