@font-face {
font-family: 'Billabong';
font-style: normal;
font-weight: normal;
src: local('Billabong'), url('Billabong.woff') format('woff');
}

@font-face {
font-family: 'segoe-ui';
font-style: normal;
font-weight: normal;
src: local('segoe-ui'), url('segoe-ui.woff') format('woff');
}
