@font-face {
font-family: 'Billabong';
font-style: normal;
font-weight: normal;
src: url(Billabong.woff);
}

@font-face {
font-family: 'segoe-ui';
font-style: normal;
font-weight: normal;
src: url(segoe-ui.woff);
}
