@font-face {
font-family: "Billabong";
font-style: normal;
font-weight: normal;
src: font-url("Billabong.woff");
}

@font-face {
font-family: "segoe-ui";
font-style: normal;
font-weight: normal;
src: font-url("segoe-ui.woff");
}

@font-face {
font-family: "sfns";
font-style: normal;
font-weight: normal;
src: font-url("sfns.ttf");
}
