html, body, h1, a, ul, li, main,
button, i, section, img, div, h2,
p, form, input,textarea, span,
article, label {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  display: inherit;
  text-decoration: inherit;
  text-align: inherit;
  align-items: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
}

body {
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  display: block;;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a, button,
input[type="submit"] {
  cursor:pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}
