.login-form, .signup-form {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.login-input, .signup-input {
  color: black;
  width: 250.364px;
  height: 17.253;
  margin: 0.92px;
  padding: 9px 8px 7px;
  font-weight: 100;
  border: $light-gray 2px solid;
  border-radius: 3px;
  display: block;
  text-align: justify;
}

.login-input:focus, .signup-input:focus {
  border-color: $dark-gray;
}

.get-the-app {
  color: black;
  text-align: center;
  margin: 24px auto;
}

.get-the-app-links {
  display: flex;
  justify-content: center;
}

.app-store {
  content: url(image_path("app-store"));
  width: 135.99px;
  height: 40px;
  margin-right: 10px;
}

.google-play {
  content: url(image_path("google-play"));
  width: 135.99px;
  height: 40px;
}
