.header {
  width: 100%;
  height: 30.997px;
  background-color: white;
  padding: 26px 40px;
  display: flex;
  flex-direction: column;
}

.camera {
  content: url(image_path("camera.png"));
  width: 196px;
  height: 41px;
}
