body {
  background-color: $background-white;
  font-family: 'segoe-ui', sans-serif;
  color: $dark-gray;
}

.root-span {
  margin: 20px 214px 0 214px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-logo {
  width: 175px;
  height: 51px;
  font-size: 52px;
  margin: 22px auto 16px;
  color: #262626;
  font-family: 'Billabong', sans-serif;
}

.signup-message {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  margin: 0 40px 10px;
  text-align: center;
}

.policy-message {
  font-size: 14px;
  margin: 20px 60px;
  text-align: center;
}

strong {
  font-weight: bold;
  color: $dark-gray;
}

.captcha {
  width: 348px;
  height: 78px;
  margin: 10px auto;
  background-color: $light-gray;
}

.button {
  width: 250px;
  height: 26px;
  padding: 0 8px 2px;
  color: white;
  border-radius: 3px;
  background-color: $light-blue;
  text-align: center;
}

.button:active,
.redirect-section > button:active,
.facebook-login:active,
.forgot:active {
  opacity: .7;
}

.login-image {
  width: 423px;
  height: 671px;
  margin-right: 10px;
  background-image: url(image_path("login_image.png"));
}

.login-section, .signup-section, .redirect-section {
  background-color: white;
  border: $light-gray 1px solid;
  border-radius: 1px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signup-section {
  width: 348px;
  height: 589px;
  padding-bottom: 10px;
}

.login-section {
  width: 348px;
  height: 289px;
  padding: 10px 0;
}

.forgot {
  position: absolute;
  color: $dark-blue;
  right: 15px;
  top: 53px;
}

.login-button{
  margin-top: 5px;
}

.facebook-login {
  color: $dark-blue;
}

.redirect-section {
  width: 348px;
  height: 48px;
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redirect-section > p {
  color: black;
  margin: 4px;
}

.redirect-section > button {
  color: $light-blue;
}

.or-separate {
  margin: 13px 40px 15px 40px;
}

.horizontal-line {
  width: 107.047px;
  height: 1px;
  background-color: $light-gray;
  display:inline-block;
  margin-bottom: 6px;
}

.or {
  margin: 0 18px;
  color: $dark-gray;
  display: inline-block;
  font-size: 13px;
  line-height: 15px;
  font-weight: 600;
}
